@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('/fonts/Spectral-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

:root {
    --background-color: rgb(250, 235, 200);
    --background-color-second: rgb(5, 13, 77);
    --color-azure: rgb(177, 247, 255);
    --color-white: rgb(255, 255, 255);
    --font-family-Spectral: 'Spectral', serif;
    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family-Spectral);
    color: white;
}

.header__wrapper {
    position: absolute;
    padding: 46px 0 0;
    display: block;
    width: 100%;
}

.header__logo {
    position: absolute;
    height: 325px;
    width: 317px;
    top: -52px;
    left: -11px;
    z-index: 1;
}

.header__title {
    font-family: var(--font-family-Spectral);
    color: var(--color-azure);
    position: relative;
    text-align: center;
    margin-left: 234px;
    font-size: 3.4rem;
    word-spacing: 8px;
    font-weight: 500;
    max-width: 724px;
    z-index: 100;
}

.header__title>span {
    position: relative;
    font-size: 2.2rem;
    word-spacing: 5px;
    bottom: 16px;
}

.Initial {
    background-image: url(/image/Background.svg);
    background-repeat: no-repeat;
    background-position: -2px;
}

.Initial__wrapper {
    height: 938px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Initial__button {
    position: relative;
    border-radius: 29px;
    box-shadow: 3px 6px 3.3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(0, 22, 163);
    color: var(--color-white);
    font-family: var(--font-family-Spectral);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 55px;
    padding: 17px 45px;
    top: 107px;
    left: 84px;
    cursor: pointer;

}

.Initial__button::after {
    content: "";
    position: absolute;
    background-image: url(/image/Arrow-1.svg);
    width: 63px;
    height: 83px;
    bottom: 100px;
    right: 60px;
}

.Initial__text-button {
    position: absolute;
    transform: rotate(-10deg);
    right: 267px;
    top: 334px;
}

.Initial__text-button>p {
    color: rgb(255, 85, 0);
    font-family: Spectral;
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center;
    max-width: 340px;
}

.Initial__background-ball-1 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 119, 0);
    width: 236px;
    height: 236px;
    left: 923px;
    top: 80px;
    border-radius: 50%;
    position: absolute;
}

.Initial__ball-text-1 {
    margin-top: 37px;
    color: rgb(250, 235, 200);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.7rem;
    text-align: center;
}

.Initial__ball-text-2 {
    margin-top: 80px;
    color: rgb(0, 28, 255);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.7rem;
    text-align: center;
}

.Initial__ball-text-3 {
    color: rgb(177, 247, 255);
    font-family: Spectral;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin-top: 51px;
    text-align: center;
}

.Initial__ball-text-4 {
    margin-top: 26px;
    color: rgb(250, 235, 200);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center;
}

.Initial__ball-text-5 {
    color: rgb(22, 56, 0);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.3rem;
    text-align: center;
    margin-top: 20px;
    max-width: 168px;
    margin-left: 16px;
}

.Initial__ball-text-6 {
    color: rgb(157, 253, 98);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.7rem;
    text-align: center;
    margin-top: 31px;
    max-width: 250px;
    margin-left: 19px;
}

.Initial__ball-text-7 {
    color: rgb(157, 253, 98);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.7rem;
    text-align: center;
    margin-top: 8px;
}

.Initial__ball-text-8 {
    color: rgb(250, 235, 200);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.7rem;
    text-align: center;
    margin-top: 60px;
    max-width: 185px;
    margin-left: 35px;
}

.Initial__ball-text-9 {
    color: rgb(177, 247, 255);
    font-family: Spectral;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.7rem;
    text-align: center;
    margin-top: 75px;
}

.Initial__background-ball-10>a>img {
    margin-top: 67px;
    border-radius: 7px;
}

.Initial__background-ball-2 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(0, 230, 255);
    width: 238px;
    height: 238px;
    left: 1172px;
    top: 88px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-3 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(26, 0, 255);
    width: 180px;
    height: 180px;
    left: 1215px;
    top: 274px;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-4 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 85, 0);
    width: 285px;
    height: 285px;
    left: 242px;
    top: 308px;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-5 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(30, 205, 82);
    width: 199px;
    height: 199px;
    left: 445px;
    top: 481px;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-6 {
    background: rgb(52, 135, 0);
    width: 294px;
    height: 294px;
    left: 952px;
    top: 471px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-7 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(34, 78, 0);
    width: 202px;
    height: 206px;
    left: 108px;
    top: 635px;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-8 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 136, 0);
    width: 265px;
    height: 265px;
    left: 333px;
    top: 675px;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-9 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(0, 28, 255);
    width: 236px;
    height: 236px;
    left: 874px;
    top: 692px;
    border-radius: 50%;
    position: absolute;
}

.Initial__background-ball-10 {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(2, 8, 51);
    width: 120px;
    height: 240px;
    left: 1303px;
    top: 754px;
    transform: translate(-50%, -50%);
    border-radius: 150px 0 0 150px;
    position: absolute;
}


.individual__wrapper {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 21px;
}

.individual__title {
    color: rgb(0, 8, 94);
    font-family: var(--font-family-Spectral);
    font-size: 4.71rem;
    font-weight: 500;
    line-height: 4rem;
}

.individual__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 110px;
}

.individual__item:nth-child(1) {
    background-color: rgb(255, 119, 0);
    padding: 68px 56px 174px 56px;
    margin-top: 50px;
    max-height: 637px;
}

.individual__item:nth-child(2) {
    background-color: rgb(13, 64, 28);
    padding: 87px 84px 151px 84px;
}

.individual__item:nth-child(3) {
    background-color: rgb(0, 28, 255);
    padding: 68px 56px 100px 56px;
    margin-top: 50px;
    max-height: 637px;
}

.individual__item {
    color: rgb(255, 249, 234);
    font-family: var(--font-family-Spectral);
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 7.3rem;
    text-align: center;
    border-radius: 31px;
}

.individual__item:nth-child(1)>.individual__main-cost {
    margin-top: 250px;
}

.individual__item:nth-child(2)>.individual__main-cost {
    margin-top: 50px;
}

.individual__item:nth-child(2)>.individual__cost-sell {
    margin-top: 155px;
}

.individual__item:nth-child(3)>.individual__main-cost {
    margin-top: 20px;
}

.individual__item:nth-child(3)>.individual__cost-sell {
    margin-top: 156px;
}

.individual__item:nth-child(3)>.individual__cost-one {
    margin-top: 3px;
}

/* ВРЕМЕННО */

/* .group__wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 29px;
}

.group__title {
    color: rgb(0, 8, 94);
    font-family: var(--font-family-Spectral);
    font-size: 4.71rem;
    font-weight: 500;
    line-height: 4rem;
}

.group__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 26px 110px;
}

.group__item:nth-child(1) {
    background-color: orange;
    padding: 68px 56px 174px 56px;
    margin-top: 50px;
    max-height: 637px;
}

.group__item:nth-child(2) {
    background-color: green;
    padding: 87px 84px 151px 84px;
}

.group__item:nth-child(3) {
    background-color: blue;
    padding: 68px 56px 100px 56px;
    margin-top: 50px;
    max-height: 637px;
}

.group__item {
    color: rgb(250, 235, 200);
    font-family: var(--font-family-Spectral);
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 7.3rem;
    text-align: center;
    border-radius: 31px;
}

.group__item:nth-child(1)>.group__main-cost {
    margin-top: 250px;
}

.group__item:nth-child(2)>.group__main-cost {
    margin-top: 50px;
}

.group__item:nth-child(2)>.group__cost-sell {
    margin-top: 155px;
}

.group__item:nth-child(3)>.group__main-cost {
    margin-top: 20px;
}

.group__item:nth-child(3)>.group__cost-sell {
    margin-top: 156px;
}

.group__item:nth-child(3)>.group__cost-one {
    margin-top: 3px;
} */

/* ВРЕМЕННО */

.contact__wrapper {
    text-align: center;
    padding-top: 67px;
    padding-bottom: 50px;
}

.contact__title {
    color: rgb(0, 8, 94);
    font-family: var(--font-family-Spectral);
    font-size: 4.71rem;
    font-weight: 500;
    line-height: 4rem;
}

.contact__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    gap: 140px;
}

.contact__item {
    width: 105px;
    height: 105px;
    background-color: gray;
    border-radius: 50px
}

.contact__subtitle {
    color: rgb(0, 8, 94);
    font-family: var(--font-family-Spectral);
    font-size: 5.01rem;
    font-weight: 500;
    line-height: 4.6rem;
    margin-top: 66px;
}

.contact__subtitle>span {
    display: block;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

.contact__label {
    margin-bottom: 40px;
}

.contact__input {
    border-radius: 99px;
    padding: 15px 23px 15px 28px;
    background: rgb(217, 217, 217);
    min-width: 580px;
    color: rgba(0, 0, 0, 0.68);
    font-family: var(--font-family-Spectral);
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 4.2rem;
    text-align: left;
}

.contact__button {
    position: relative;
    border-radius: 82px;
    background: rgb(255, 85, 0);
    text-align: center;
    padding: 16px 76px;
    color: var(--color-white);
    font-family: var(--font-family-Spectral);
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 4.6rem;
    margin-top: 9px;
}